* {
  box-sizing: border-box;
}

body {

  margin: 0;

}

.nav {
  background-color: #525e6c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}


.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  align-items: center;
  padding: .25rem;
}

.siteTitle {
   font-size: 2rem;
}

.form {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  border: none;
}

.text {
  width: 50vw;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.text:focus{
  border-color: #030404;
}

.button{
  
  background-color: #525e6c;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;

}

.button:hover {
  background-color: #a8b8c9
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px;
  gap: 15px;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 20px;
  border: none;
  /* box-shadow: 0 8px 16px rgba(0,0,0,0.1); */
  position: relative;
}

/* added CSS properties to card-front and card-back */
 

.card-front,
.card-back {
  text-align: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/258/943/non_2x/modern-dark-texture-background-vector.jpg');
  border-radius: 15px;
  height:320px;
  width: 320px;
  color:whitesmoke;
  font-family: Verdana;
}

.card-front { 
  z-index: 2;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}
/* made card-back text larger and easier to read*/
.card-back{
  transform: rotateY(180deg);
  font-size: 14px;  
}

.card.flipped .card-back{
  transform: rotateY(360deg);
}
  
.backText {
  background-color: rgb(0,0,0,0.5);
  text-align: center;
}


.card h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.card img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.flipButton{
  width: 200px;
  margin-top: 2px;
  background-color: #525e6c;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* had to make seperate class of button to change margins on created drinks and search drinks, also chages on CocktailCard file */
.flipButtonSearch {
  width: 200px;
  margin-top: 2px;
  background-color: #525e6c;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 12px;
}
.card-back p {
  width: 280px;
  height: 280px;
  overflow: auto;
  scrollbar-color: #01fcf8;
  margin-top: 0px;
}
/* added scrollbar if text is too large to avoid overflowing text */


/* changed height and padding properties of delete button */

.deleteButton {
  width: 200px;
  margin-top: 2px;
  margin-bottom: 14px;
  background-color: #145DA0;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 15px;
}

.drinkButton {
  width: 130px;
  margin-top: 2px;
  margin-right:2px;
  background-color: #145DA0;
  color: #ffffff;
  border: black;
  border-radius: 60px;
  padding: 9px 20px;
  cursor: pointer;
  font-size: 14px;
}

.randomButtons {
  width: 50%;
  margin: auto
}

.drinkButton:hover {
  background-color: #2E8BC0;
}

.drinkButton:active {
  background-color: #B1D4E0;
}

.deleteButton:hover {
  background-color: #2E8BC0;

}

.deleteButton:active {
  background-color: #B1D4E0;

}

.flipButton:hover {
  background-color: #a8b8c9;
}

.flipButton:active {
  background-color: #B1D4E0;
}
/* logo for app */
.homepage { 
  display: grid;
  
  height: 97.4vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-image: url('https://cdn.luxe.digital/media/2020/06/07192740/best-cocktails-recipes-luxe-digital.jpg')
}

.logo {
  margin-top: -270px;
  margin-left: 190px;
  color: white;
  font-size: 78px;
  font-weight: 100;
  font-family: helvetica;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #332e31, 0 0 40px #010101, 0 0 50px #dadadf, 0 0 60px #2674cd, 0 0 70px #01fcf8;
  
}

.homepage p{
  margin-top: -140px;
  position: absolute;
  margin-left: 780px;
  color: white;
  font-family: helvetica;
  font-size: 21px;
  font-weight: 100;
}

.homepage a{
  text-decoration: none;
  color: white;
}

.homepage a:hover{
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #332e31, 0 0 40px #010101, 0 0 50px #dadadf, 0 0 60px #2674cd, 0 0 70px #01fcf8;
  font-size: 23px;
  transition: 300ms;
}

.homepage p:hover{
  font-size: 23px;
  transition: 300ms;
}
